.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp
.pnp.js
.vscode

react-lamorte/build
react-lamorte/node_modules
react-lamorte/npm-debug.log
react-lamorte/tests/__coverage__
react-lamorte/yarn-debug.log
react-lamorte/yarn-error.log

NOTES
