.Card {
  border-radius: 4px;
  color: black;
  display: block;
  height: 80px;
  width: 48px;
  padding: 4px;
}

.Card.up {
  background: white;
}

.Card.down {
  background: maroon;
}

.Card .Values {
  font-size: 16px;
}

.Card .Values.Suit♠ {
  color: darkblue;
}
.Card .Values.Suit♦ {
  color: darkgoldenrod;
}
.Card .Values.Suit♣ {
  color: darkgreen;
}
.Card .Values.Suit♥ {
  color: darkred;
}
